.EA-layout{
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1rem;
}

.EA-inputcontainer{
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1rem;
    gap: 1.2rem;
}