::-webkit-scrollbar {
    display: none;
}

.GS-horizontalContent{
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    
    gap: 0.5rem;
   
}

.GS-verticalContent{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 0.5rem;
    padding-bottom: 5rem;
}

.GS-centerItems{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.GS-horizontalContent,
.GS-verticalContent {
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

.GS-horizontalContent::-webkit-scrollbar,
.GS-verticalContent::-webkit-scrollbar {
    display: none; 
}
