.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

:root{
  /* Azules y colores normales */
  --azul1: #164245;
  --azul2: #3BA5AD;
  --azul3: #91E7EB;
  --azul4: #BEF3DA;
  --azul5: #BBD4F3;

  /* Escala de negros */
  --Black1: #000000;
  --Darkgray1: #404040;
  --Lightgray1: #A7A7A7;
  --White1: #E8E8E8;

  /* Sistema */
  --Fail: #FF0800;
  --Dangereux: #FFDA03;
  --Success: #03AC13;
}


h1 {
  font-size: 6rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

h2{
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3, h4, h5, h6 {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

big{
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

p{
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
